* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    color: white;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    width: 100%;
    object-fit: cover;
}

.logo {
    width: 100px;
    height: 100px;
}

.navbar {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    z-index: 10;
}

.account {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .574);
    border-radius: 10px;
}

.account h2{
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
}

.account .user-box {
    position: relative;
}

.account .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: #fff 1px solid;
    outline: none;
    background: transparent;
}

.account form .btn {
    position: relative; 
    display: inline-block;
    padding: 10px 20px;
    font-weight: 500;
    color: #d67c32;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border-radius: 5px;
}

.account .btn:hover {
    background: #005556;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #005556,
                0 0 25px #005556,
                0 0 50px #005556,
                0 0 100px #005556;
}

.account-1 {
    text-decoration: none;
    color: white;
}

.account:hover {
    text-decoration: underline;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

#background-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
