* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
}

body {
    background-color: black;
    color: white;
    font-family: 'Unbounded', cursive;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.logo img {
    width: 80px;

    object-fit: cover;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    z-index: 10;
    font-size: 1.4rem;
}

.navbar a {
    color: white;
    margin-right: 10px;
}

.bg-image-container {
    width: 100%;
    height: 90vh;
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 90vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8) 100%);
}

.landing {
    position: absolute;
    top: 40%;
    margin-left: 15vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-weight: 600;
    font-size: 2rem;
}

.searchbar .search-btn {
    background-color: none;
    border-color: white;
}

.searchbar {
    margin-bottom: auto;
    width: 40vw;
    height: 40px;
    padding: 15px;
}

.fa-search:before {
    color: white;
}

.navbar .page {
    display: flex;
    gap: 20px;
    top: 20px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}


.dropdown-toggle::after {
    display: none;
}

#dropdownMenuButton {
    color: white;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 5px;
    margin-top: -5px;
}

